*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --background-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --icon-color-hover: white;


}

body {
    font-family: Roboto;
    color: var(--primary-text-color);
    background-color: white;
}
