$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196F3;
$background-color: #F5F4FA;
$icon-color: #AFB1B8;
$icon-color-hover: white;
$background-footer-color: #2F303A;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

$iris: #4D5AE5;
$ocean: #404BBF;
$navy-blue: 2E2F42;
$green: #31D0AA;
$slate: #434455;
$laght-slate: #8E8F99;
$cornflower: #E7E9FC;
$cloud: #F4F4FD;
$navy-blue-modal: #2E2F42;
$grey: #2E2F42;
