



 .header {
     border-bottom: 1px solid #ECECEC;
 }

 .container__navigation {
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: center;
    }
     
     

     
 }
 .navigation__list {
     display: none;

     @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 93px;
     }

     
 }

 .navigation__item:not(:last-child) {
     margin-right: 50px;
 }

 .navigation__link {
     position: relative;

     display: block;
     padding-top: 32px;
     padding-bottom: 32px;

     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: $primary-text-color;

     text-decoration: none;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus,
     &--current {
         color: $accent-color;
     }

     &--current::after {
         position: absolute;
         left: 0;
         bottom: -1px;
         content: "";

         width: 100%;
         height: 4px;
         border-radius: 2px;
         background-color: $accent-color;
     }
 }

 .contacts {
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
            margin-left: auto;
    }
     
     
 }

 .contacts__item {
     margin-right: 50px;
    
 }

 .contacts__link {
     display: flex;
     align-items: center;
     padding-top: 32px;
     padding-bottom: 32px;

     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: $text-color;

     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover ,
     &:focus {
         color: $accent-color;
     }
 }

 